# Half Triangle

In [6]:
n = 5
for i in range(1, n + 1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *

# Inverted Half Triangle

In [8]:
n = 5
for i in range(n, 0, -1):
    print('* ' * i)

* * * * *
* * * *
* * *
* *
*

# Full Triangle

In [18]:
n = 5
for i in range(1, n + 1):
    print(' ' * (n - i), end='')
    print(' *' * (2 * i - 1))

     *
    * * *
   * * * * *
  * * * * * * *
 * * * * * * * * *

# Alphabetic Triangle

In [19]:
n = 5
for i in range(1, n + 1):
    for j in range(0, i):
        print(chr(65 + j), end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

# Numeric Triangle

In [20]:
n = 5
num = 1
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(num, end=' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15